/* Загальні стилі */
body {
  font-family: 'Pacifico', cursive;
  display: flex;
  flex-direction: column;
}

.items-list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /*background-color: rgb(78, 172, 94);*/
}



